page-finish {
    .title-box h2{
      text-align: center;
    }
    .content-box {
      margin-top: 70px;
    }
    .content-box h2{
      text-align: center;
    }
    .btn-box {
      margin-top: 60px;
    }
}
